################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.venv
BUILDING.md
/.vscode
/build
.pypirc
/build_mingw64
/build_msvc